# Docker database data
postgres/forum_data/
postgres/auth_data/

# Java/Gradle build files
**/build/
**/.gradle/
**/*.jar

# IDE files
.vscode/
.idea/
kubernetes/postgres/auth_db/secret-auth.yaml
kubernetes/postgres/forum_db/secret-forum.yaml