# Docker database data
postgres/forum_data/
postgres/auth_data/

# Java/Gradle build files
**/build/
**/.gradle/
**/*.jar

# IDE files
.vscode/
.idea/
secret-auth.yaml
secret-forum.yaml
seal-secret-auth.yaml 
seal-secret-forum.yaml

# 1. Chặn tất cả các file ở thư mục gốc
/*

# 2. Loại trừ (Cho phép) tất cả các thư mục ở gốc
!/*/
!/readme.md